# Lendo arquivos com Pandas

In [1]:
import pandas as pd

In [2]:
faturas = pd.read_table('Sanduiches.txt')

In [3]:
faturas.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [4]:
usuarios = pd.read_table('Users.txt')

In [5]:
usuarios.head()

   1|24|M|technician|85711
0       2|53|F|other|94043
1      3|23|M|writer|32067
2  4|24|M|technician|43537
3       5|33|F|other|15213
4   6|42|M|executive|98101

In [6]:
usuarios = pd.read_table('Users.txt', sep='|')

In [7]:
usuarios.head()

   1  24  M  technician  85711
0  2  53  F       other  94043
1  3  23  M      writer  32067
2  4  24  M  technician  43537
3  5  33  F       other  15213
4  6  42  M   executive  98101

In [8]:
usuarios = pd.read_table('Users.txt', sep='|', header=None)

In [9]:
usuarios.head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [10]:
colunas = ['id', 'idade', 'sexo', 'profissao', 'cep']
usuarios = usuarios = pd.read_table('Users.txt', sep='|', names=colunas)

In [11]:
usuarios.head()

   id  idade sexo   profissao    cep
0   1     24    M  technician  85711
1   2     53    F       other  94043
2   3     23    M      writer  32067
3   4     24    M  technician  43537
4   5     33    F       other  15213

In [12]:
ufo = pd.read_csv('ufo.csv')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [13]:
df = pd.read_fwf('LarguraFixa.txt')

In [14]:
df

,USAF,WBAN,STATION NAME,CTRY,ST,CALL,LAT,LON,ELEV(M),BEGIN,END
0,7005,99999,CWOS 07005,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
1,7011,99999,CWOS 07011,NaN,NaN,NaN,NaN,NaN,NaN,20111025,20121129
2,7018,99999,WXPOD 7018,NaN,NaN,NaN,0.000,0.000,7018.0,20110309,20130730
3,7025,99999,CWOS 07025,NaN,NaN,NaN,NaN,NaN,NaN,20120127,20120127
4,7026,99999,WXPOD 7026,AF,NaN,NaN,0.000,0.000,7026.0,20120713,20141120
...,...,...,...,...,...,...,...,...,...,...,...
29332,999999,94925,GRAND FORKS AF,US,ND,KRDR,47.967,-97.400,277.7,19710101,19710101
29333,999999,94931,HIBBING CHISHOLM-HIBBIN,US,MN,KHIB,47.386,-92.839,413.6,19720101,19721231
29334,999999,94995,LINCOLN 8 ENE,US,NE,NaN,40.848,-96.565,362.4,20020115,20150427
29335,999999,94996,LINCOLN 11 SW,US,NE,NaN,40.695,-96.854,418.2,20020114,20150427
29336,999999,96404,TOK 70 SE,US,AK,NaN,62.737,-141.208,609.6,20110924,20150427

In [15]:
df = pd.read_csv('SepEspaco.txt')

In [16]:
df.head()

  Year Month Day Hour Temp DewTemp Pressure WindDir WindSpeed Sky Precip1 Precip6
0      1912 4 1 6 114 94 10121 200 120 8 -9999 -9999
1      1912 4 1 9 146 96 10122 240 140 8 -9999 -9999
2         1912 4 2 6 172 122 10146 210 40 2 -9999 40
3       1912 4 2 9 193 -9999 10150 240 210 1 -9999 0
4        1912 4 2 12 188 125 10152 240 250 1 -9999 0

In [18]:
regex = '\s+'

In [19]:
df = pd.read_csv('SepEspaco.txt', sep=regex)

In [20]:
df.head()

,Year,Month,Day,Hour,Temp,DewTemp,Pressure,WindDir,WindSpeed,Sky,Precip1,Precip6
0,1912,4,1,6,114,94,10121,200,120,8,-9999,-9999
1,1912,4,1,9,146,96,10122,240,140,8,-9999,-9999
2,1912,4,2,6,172,122,10146,210,40,2,-9999,40
3,1912,4,2,9,193,-9999,10150,240,210,1,-9999,0
4,1912,4,2,12,188,125,10152,240,250,1,-9999,0

# Manipulação de Arquivos com Paths

In [26]:
path = 'D:\\CursoDataScience\\02_projetos_curso\\bibliotecas_Gerais\\teste.txt'

In [27]:
arquivo = open(path, 'w')

In [28]:
arquivo.close()

In [30]:
with open('teste.txt', 'w') as arquivo:
    arquivo.write('Alguma coisa aqui')

In [33]:
with open('teste.txt', 'r') as arquivo:
    conteudo = arquivo.read()
conteudo

'Alguma coisa aqui'

### Escrevendo uma nova linha co mo modo A de APPEND

In [36]:
with open('teste.txt', 'a') as arquivo:
    arquivo.write('\nEscrevendo outra linha com append')

# Interagindo com o Sistema Operacional

In [37]:
import os

In [38]:
# verificando o diretorio atual
os.getcwd()

'D:\\CursoDataScience\\02_projetos_curso\\bibliotecas_Gerais'

In [39]:
dir(os)

['DirEntry',
 'F_OK',
 'GenericAlias',
 'Mapping',
 'MutableMapping',
 'O_APPEND',
 'O_BINARY',
 'O_CREAT',
 'O_EXCL',
 'O_NOINHERIT',
 'O_RANDOM',
 'O_RDONLY',
 'O_RDWR',
 'O_SEQUENTIAL',
 'O_SHORT_LIVED',
 'O_TEMPORARY',
 'O_TEXT',
 'O_TRUNC',
 'O_WRONLY',
 'P_DETACH',
 'P_NOWAIT',
 'P_NOWAITO',
 'P_OVERLAY',
 'P_WAIT',
 'PathLike',
 'R_OK',
 'SEEK_CUR',
 'SEEK_END',
 'SEEK_SET',
 'TMP_MAX',
 'W_OK',
 'X_OK',
 '_AddedDllDirectory',
 '_Environ',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_check_methods',
 '_execvpe',
 '_exists',
 '_exit',
 '_fspath',
 '_get_exports_list',
 '_walk',
 '_wrap_close',
 'abc',
 'abort',
 'access',
 'add_dll_directory',
 'altsep',
 'chdir',
 'chmod',
 'close',
 'closerange',
 'cpu_count',
 'curdir',
 'defpath',
 'device_encoding',
 'devnull',
 'dup',
 'dup2',
 'environ',
 'error',
 'execl',
 'execle',
 'execlp',
 'execlpe',
 'execv',
 'execve',
 'execvp',
 'execvpe',
 'extsep',
 'fdopen',
 'fsdecode',
 'fsencode',
 'fspath',
 'fstat',
 'fsync',
 'ftruncate',
 'get_exec_path',
 'get_handle_inheritable',
 'get_inheritable',
 'get_terminal_size',
 'getcwd',
 'getcwdb',
 'getenv',
 'getlogin',
 'getpid',
 'getppid',
 'isatty',
 'kill',
 'linesep',
 'link',
 'listdir',
 'lseek',
 'lstat',
 'makedirs',
 'mkdir',
 'name',
 'open',
 'pardir',
 'path',
 'pathsep',
 'pipe',
 'popen',
 'putenv',
 'read',
 'readlink',
 'remove',
 'removedirs',
 'rename',
 'renames',
 'replace',
 'rmdir',
 'scandir',
 'sep',
 'set_handle_inheritable',
 'set_inheritable',
 'spawnl',
 'spawnle',
 'spawnv',
 'spawnve',
 'st',
 'startfile',
 'stat',
 'stat_result',
 'statvfs_result',
 'strerror',
 'supports_bytes_environ',
 'supports_dir_fd',
 'supports_effective_ids',
 'supports_fd',
 'supports_follow_symlinks',
 'symlink',
 'sys',
 'system',
 'terminal_size',
 'times',
 'times_result',
 'truncate',
 'umask',
 'uname_result',
 'unlink',
 'unsetenv',
 'urandom',
 'utime',
 'waitpid',
 'waitstatus_to_exitcode',
 'walk',
 'write']

In [40]:
import pandas
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [41]:
# Navegando entre diretorios
os.chdir("d:\\")
os.getcwd()

'd:\\'

In [43]:
os.mkdir('d:\\pastaTeste')
os.chdir('d:\\pastaTeste')
with open('arquivoteste.txt', 'w') as arquivo:
    arquivo.write('arquivo criado')

In [44]:
os.listdir()

['arquivoteste.txt']

In [45]:
os.remove('arquivoteste.txt')

In [46]:
os.listdir()

[]

In [47]:
os.chdir('d:\\')

In [48]:
os.listdir()

['$RECYCLE.BIN',
 '0_Roms_emluador_megaman_zero',
 "Assassin's Creed Chronicles India",
 'Assistir',
 'blizzard',
 'CTPSDigital_01872655181_2021-10-01T13.pdf.pdf',
 'CursoDataScience',
 'CursosPython',
 'Data_Science_Pocket',
 'desktop.ini',
 'EstudoC#',
 'musicasSpotify',
 'pastaTeste',
 'Program Files',
 'Program Files (x86)',
 'ProgramData',
 'Projeto_Aline',
 'Python_Pocket',
 'Recovery',
 'System Volume Information',
 'The_Wicher',
 'Users',
 'Videos_Gravados',
 'video_funeral_pai']

# Manipulando Paths

In [54]:
fullpath = 'D://CursoDataScience//02_projetos_curso//bibliotecas_Gerais/teste.txt'

In [55]:
arquivo = os.path.basename(fullpath)

In [56]:
arquivo

'teste.txt'

## separando extensão do nome do arquivo

In [57]:
os.path.splitext(arquivo)

('teste', '.txt')

In [58]:
os.path.splitext(arquivo)[0]

'teste'

In [59]:
os.path.splitext(arquivo)[1]

'.txt'

In [61]:
# verificando se um caminho para esse diretorio existe
os.path.exists(fullpath)

True

In [62]:
# criar diretorio caso não exista
if not os.path.exists(fullpath):
    os.makedirs(fullpath)

# Iteração sobre arquivos